.profile-card{
    background: rgba(255, 241, 241, 0.11);
    border: 1px solid rgba(255, 255, 255, 0.31);
    backdrop-filter: blur(40px);
    border-radius: 15px;
    padding: 30px;
}
.profile-card .site-input{
    max-width: 100%;
}
.contact-form-single-column {
    max-width: 100%;
}
.contact-form-single-column textarea.site-input {
    width: 100%;
    max-width: 100%;
}