.banner-player {
  padding: 25px;
  background: linear-gradient(
    180deg,
    rgba(27, 28, 30, 0.8) 0%,
    rgba(27, 28, 30, 0.48) 100%
  );
  backdrop-filter: blur(4.7718px);
  border-radius: 28.6308px;
}

.rm-audio-player-provider {
  z-index: 2;
}

.banner-playlist-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center;
}

.banner-playlist {
  max-height: 500px;
  overflow-y: auto;
}

.banner-playlist {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

.banner-playlist::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.track-current-time {
  color: #f6d027 !important;
}

.rm-player-progress,
.rm-player-progress-handle {
  background: #f6d027 !important;
}

.trending-card {
  max-width: 430px;
}

.song-card {
  width: 100%;
  position: relative;
}

.song-card-play-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.7);
  border: 2px solid #fff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  z-index: 3;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.song-card:hover .song-card-play-btn {
  opacity: 1;
}

.song-card-play-btn:hover {
  background: rgba(249, 219, 5, 0.9);
  border-color: #f9db05;
  transform: translate(-50%, -50%) scale(1.1);
}

.song-card-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  /* Adjust as needed */
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 1;
}

.song-card-inner {
  position: absolute;
  bottom: 0;
  padding: 12px;
  width: 100%;
  z-index: 99;
}

.song-card-inner p {
  color: #fafafa;
}

.song-card-img {
  width: 100%;
  aspect-ratio: 1/1.5;
  object-fit: cover;
  object-position: center;
  border-radius: 15px;
}

.trending-dance-and-fitness {
  overflow: hidden;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 991px) {
  .banner br {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .banner {
    padding: 130px 0 35px 0;
  }
}
