@font-face {
    font-family: 'Akira Expanded';
    src: url('AkiraExpanded-SuperBold.eot');
    src: url('AkiraExpanded-SuperBold.eot?#iefix') format('embedded-opentype'),
        url('AkiraExpanded-SuperBold.woff2') format('woff2'),
        url('AkiraExpanded-SuperBold.woff') format('woff'),
        url('AkiraExpanded-SuperBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Azonix';
    src: url('AzonixRegular.eot');
    src: url('AzonixRegular.eot?#iefix') format('embedded-opentype'),
        url('AzonixRegular.woff2') format('woff2'),
        url('AzonixRegular.woff') format('woff'),
        url('AzonixRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

