@import url('../fonts/fonts.css');
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
  font-family: 'Inter', sans-serif !important;
  background: black;
  color: white;
  font-weight: 400;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Azonix', cursive !important;
}

h1,
h2 {
  font-size: 55px !important;
}

h3 {
  font-size: 50px !important;
}

h4 {
  font-size: 36px !important;
}

h5 {
  font-size: 25px !important;
}

h6 {
  font-size: 22px !important;
}

.akira {
  font-family: 'Akira Expanded', sans-serif !important;
}

.azonix {
  font-family: 'Azonix', sans-serif !important;
}

.inter {
  font-family: 'Inter', sans-serif !important;
}

.gradient-text {
  background: linear-gradient(90deg, #C92126 35.39%, #F9DB05 96.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.p-sm {
  font-size: 12px !important;
}

.p-xs {
  font-size: 12px !important;
}

.p-md {
  font-size: 18px;
}

.p-lg {
  font-size: 20px;
}

ul.no-bullet {
  list-style: none !important;
  padding-left: 0 !important;
}

.p-xlg {
  font-size: 24px;
}

.regular {
  font-weight: 400 !important;
}

.medium {
  font-weight: 500 !important;
}

.semi-bold {
  font-weight: 600 !important;
}

.bold {
  font-weight: 700 !important;
}

.x-bold {
  font-weight: 800 !important;
}

.text-justify {
  text-align: justify !important;
}

a {
  display: inline-block;
  cursor: pointer;
  transition: ease-in-out .2s;
}

a:hover {
  color: #F6D027 !important;
}

.grey-text {
  color: #8a8a8a !important;
}

.l-grey-text {
  color: #D7D7D7 !important;
}

.xl-grey-text {
  color: #A6A6A6 !important;
}

.cyan-text {
  color: #04CBDB !important;
}

.purple-text {
  color: #F6D027 !important;
}

.pink-text {
  color: #C22C8C !important;
}

.m-yellow-text {
  color: #F1CD0E !important;
}

.cralika {
  font-family: 'Cralika', cursive !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.modal-dialog {
  display: flex;
  align-items: center;
  min-height: calc(100% - var(--bs-modal-margin)*2);
}

.modal.show {
  display: block;
  background: rgb(0 0 0 / 45%);
}

.close-btn {
  position: absolute;
  border: 0;
  background: transparent;
  padding: 0;
  color: white;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  border: none;
  transition: ease-in-out .2s;
}

.transparent-btn {
  padding: 0 !important;
  border: 0 !important;
  background: transparent !important;
}

.underline {
  text-decoration: underline;
}

:focus {
  outline: none !important;
}

.checkbox-container {
  display: inline-block;
  margin-right: 15px;
  position: relative;
  cursor: pointer;
  font-size: 16px;
  color: #b7b7b7 !important;
  padding-left: 23px;
}

.checkbox-container input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: transparent;
  border: 2px solid #6D7492;
}

.checkmark:after {
  content: '\2714';
  font-size: 11px;
  color: white;
  background: #6D7492;
  display: none;
  position: absolute;
  /* top: -2px; */
  width: 100%;
  line-height: 1;
  /* right: 2px; */
  height: 100%;
  text-align: center;
}

.checkbox-container input:checked~.checkmark:after {
  display: block;
}

.white-text {
  color: white !important;
}

.w-180 {
  width: 180px !important;
}

.cursor-pointor {
  cursor: pointer;
}

.lottie-icon {
  width: 230px;
  margin: -30px auto;
}

.no-underline {
  text-decoration: none !important;
}

:focus {
  outline: none !important;
  box-shadow: none !important;
}

.dropdown-menu {
  border: 0 !important;
  box-shadow: 0 3px 66px rgb(0, 0, 0, .08);
}

.w-140 {
  width: 140px !important;
}

.back-link {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: transparent;
  border: 1px solid #777777;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #777777;
}

.mnh-100 {
  min-height: calc(100vh - 150px) !important;
}

.table-tabs.nav-tabs {
  border: 0;
  gap: 12px;
  margin-top: 20px;
}

.w-80 {
  width: 80px !important;
}

.site-input.w-80 {
  padding: 5px 20px;
  text-align: center;
}

.d-grey-text {
  color: #333333;
}

.mnw-0 {
  min-width: 0 !important;
}

.mxw-100 {
  max-width: 100% !important;
}

.w-51 {
  width: 51px !important;
  padding: 5px 10px;
}

.modal-content {
  color: black;
}

.table-filters .site-input {
  max-width: 360px;
  font-size: 14px;
}

.table-filters .site-label {
  margin-left: 20px;
}

.mxw-100 {
  max-width: 100% !important;
}

.site-list {
  padding-left: 0;
  list-style: none;
}

@media only screen and (max-width: 768px) {
  .checkbox-container {
    display: block;
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 1399px) {

  h1,
  h2 {
    font-size: 51px !important;
  }

  h3 {
    font-size: 47px !important;
  }

  h4 {
    font-size: 30px !important;
  }
}

@media screen and (max-width: 1199px) {
  h3 {
    font-size: 42px !important;
  }

  h4 {
    font-size: 37px !important;
  }

  h5 {
    font-size: 24px !important;
  }

  h6 {
    font-size: 21px !important;
  }

  .p-lg {
    font-size: 18px;
  }

  .p-md {
    font-size: 16px;
  }
}

@media screen and (max-width: 991.5px) {
  .banner-sign {
    display: none;
  }
}

@media screen and (max-width: 767px) {

  h1,
  h2 {
    font-size: 43px !important;
  }

  h3 {
    font-size: 33px !important;
  }

  h4 {
    font-size: 32px !important;
  }

  h5 {
    font-size: 22px !important;
  }

  h6 {
    font-size: 19px !important;
  }

  .p-xlg {
    font-size: 20px
  }
}

@media screen and (max-width: 575px) {

  h1,
  h2 {
    font-size: 30px !important;
  }

  h3 {
    font-size: 29px !important;
  }

  h4 {
    font-size: 28px !important;
  }

  h5 {
    font-size: 20px !important;
  }

  h6 {
    font-size: 18px !important;
  }

  .p-lg {
    font-size: 16px;
  }

  .p-md {
    font-size: 15px;
  }

  body {
    font-size: 14px !important;
  }

  .w-180 {
    width: 100% !important;
  }

  .site-modal .modal-body br {
    display: none;
  }
}