.site-btn {
    background: #F6D027;
    border: 1px solid #F6D027;
    border-radius: 0;
    color: #000000;
    padding: 13px 30px;
    min-width: 160px;
    transition: ease-in-out .2s;
    text-transform: uppercase;
    font-family: 'Akira Expanded', sans-serif;
}
.site-btn:hover {
    background: transparent;
    color: #F6D027;
}
.border-btn{
    background: transparent;
    border: 1px solid #9B9B9B !important;
}
.border-btn:hover{
    background: #F6D027;
    border: 1px solid #F6D027 !important;
}
.add-to-cart-btn{
    transition: ease-in-out .2s;
}
.add-to-cart-btn:hover{
    background: #F6D027;
}