.beat-mixed-set {
  padding: 130px 0 50px 0;
}
.album-cover-img {
  width: 300px;
  height: 300px;
  border-radius: 30px;
  object-fit: cover;
  object-position: center;
}
.play-album-song {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: white;
  font-size: 30px;
  background: linear-gradient(266.22deg, #c92126 35.39%, #f9db05 96.9%);
}
.album-song-card {
  padding: 25px 0;
  border-bottom: 1px solid rgb(255, 255, 255, 0.4);
}
.album-song-card:last-child {
  border-bottom: 0;
}
.pagination-btn {
  width: 40px;
  height: 40px;
  padding: 5px 50px 5px 50px;
  border-radius: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0;
  color: white;
  font-size: 20px;
  background: linear-gradient(266.22deg, #c92126 35.39%, #f9db05 96.9%);
}
.pagination-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.pagination-btn:hover:not(:disabled) {
  background: linear-gradient(266.22deg, #f9db05 35.39%, #c92126 96.9%);
}
