.circular-timer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.progress-ring__circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  transition: stroke-dashoffset 0.35s;
  stroke-linecap: round;
}

.timer-label {
  font-size: 1.2rem;
  font-weight: bold;
  fill: #3cbff3;
  font-family: "Arial", sans-serif;
}
