.editor {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editor-section {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
}
.player-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}